.env
.env.huggingface
.venv/
recommendation_algorithm_explanation.html
frontend/public/test/
/tests/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
uploads/
backend/hsportal/programs.json
*.pptx
PPTX/
